In [40]:
# SALES ANALYSIS REPORT #

In [41]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt

In [42]:

sales = pd.read_csv("C:\priya\Project 1 - Sales Data Analysis\Copy of  Sales Data .csv")
sales.head()
# to load the csv file from the pc
# to display the head of the data

,Column1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Order Date.1,Order Time,Purchase Address,Month,Month Name,Sales,City,Country,Hour,Profit
0,0,295665,Macbook Pro Laptop,1,"$1,700.00",12/30/2019 0:01,43829.0006,44444.0,"136 Church St, New York City, NY 10001",12,DEC,"$1,700.00",New York City,New York-United States,0,$0.00
1,1,295666,LG Washing Machine,1,$600.00,12/29/2019 7:03,43828.2937,29375.0,"562 2nd St, New York City, NY 10001",12,DEC,$600.00,New York City,New York-United States,7,$0.00
2,2,295667,USB-C Charging Cable,1,$11.95,12/12/2019 18:21,43811.7645,33333.0,"277 Main St, New York City, NY 10001",12,DEC,$11.95,New York City,New York-United States,18,$0.00
3,3,295668,27in FHD Monitor,1,$149.99,12/22/2019 15:13,43821.6340,77778.0,"410 6th St, San Francisco, CA 94016",12,DEC,$149.99,San Francisco,California-United States,15,$0.00
4,4,295669,USB-C Charging Cable,1,$11.95,12/18/2019 12:38,43817.5263,88889.0,"43 Hill St, Atlanta, GA 30301",12,DEC,$11.95,Atlanta,Georgia-United States,12,$0.00

In [43]:
sales.tail()
# to display the tail of the data

,Column1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Order Date.1,Order Time,Purchase Address,Month,Month Name,Sales,City,Country,Hour,Profit
185945,13617,222905,AAA Batteries (4-pack),1,$2.99,6/7/2019 19:02,43623.793,55556.0,"795 Pine St, Boston, MA 02215",6,JUNE,$2.99,Boston,Massachusetts-United States,19,$0.00
185946,13618,222906,27in FHD Monitor,1,$149.99,6/1/2019 19:29,43617.811,55556.0,"495 North St, New York City, NY 10001",6,JUNE,$149.99,New York City,New York-United States,19,$0.00
185947,13619,222907,USB-C Charging Cable,1,$11.95,6/22/2019 18:57,43638.789,33333.0,"319 Ridge St, San Francisco, CA 94016",6,JUNE,$11.95,San Francisco,California-United States,18,$0.00
185948,13620,222908,USB-C Charging Cable,1,$11.95,6/26/2019 18:35,43642.774,55556.0,"916 Main St, San Francisco, CA 94016",6,JUNE,$11.95,San Francisco,California-United States,18,$0.00
185949,13621,222909,AAA Batteries (4-pack),1,$2.99,6/25/2019 14:33,43641.606,60625.0,"209 11th St, Atlanta, GA 30301",6,JUNE,$2.99,Atlanta,Georgia-United States,14,$0.00

In [44]:
pd.set_option('display.max_rows',100)
sales
#to display 'n' rows

,Column1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Order Date.1,Order Time,Purchase Address,Month,Month Name,Sales,City,Country,Hour,Profit
0,0,295665,Macbook Pro Laptop,1,"$1,700.00",12/30/2019 0:01,43829.0006,44444.0,"136 Church St, New York City, NY 10001",12,DEC,"$1,700.00",New York City,New York-United States,0,$0.00
1,1,295666,LG Washing Machine,1,$600.00,12/29/2019 7:03,43828.2937,29375.0,"562 2nd St, New York City, NY 10001",12,DEC,$600.00,New York City,New York-United States,7,$0.00
2,2,295667,USB-C Charging Cable,1,$11.95,12/12/2019 18:21,43811.7645,33333.0,"277 Main St, New York City, NY 10001",12,DEC,$11.95,New York City,New York-United States,18,$0.00
3,3,295668,27in FHD Monitor,1,$149.99,12/22/2019 15:13,43821.6340,77778.0,"410 6th St, San Francisco, CA 94016",12,DEC,$149.99,San Francisco,California-United States,15,$0.00
4,4,295669,USB-C Charging Cable,1,$11.95,12/18/2019 12:38,43817.5263,88889.0,"43 Hill St, Atlanta, GA 30301",12,DEC,$11.95,Atlanta,Georgia-United States,12,$0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,$2.99,6/7/2019 19:02,43623.7930,55556.0,"795 Pine St, Boston, MA 02215",6,JUNE,$2.99,Boston,Massachusetts-United States,19,$0.00
185946,13618,222906,27in FHD Monitor,1,$149.99,6/1/2019 19:29,43617.8110,55556.0,"495 North St, New York City, NY 10001",6,JUNE,$149.99,New York City,New York-United States,19,$0.00
185947,13619,222907,USB-C Charging Cable,1,$11.95,6/22/2019 18:57,43638.7890,33333.0,"319 Ridge St, San Francisco, CA 94016",6,JUNE,$11.95,San Francisco,California-United States,18,$0.00
185948,13620,222908,USB-C Charging Cable,1,$11.95,6/26/2019 18:35,43642.7740,55556.0,"916 Main St, San Francisco, CA 94016",6,JUNE,$11.95,San Francisco,California-United States,18,$0.00
185949,13621,222909,AAA Batteries (4-pack),1,$2.99,6/25/2019 14:33,43641.6060,60625.0,"209 11th St, Atlanta, GA 30301",6,JUNE,$2.99,Atlanta,Georgia-United States,14,$0.00

In [45]:
sales.index
# to display the index of the data

RangeIndex(start=0, stop=185950, step=1)

In [46]:
sales.columns
#to display the columns sttributes of the data

Index(['Column1', 'Order ID', 'Product', 'Quantity Ordered', 'Price Each',
       'Order Date', 'Order Date.1', 'Order Time', 'Purchase Address', 'Month',
       'Month Name', 'Sales', 'City', 'Country', 'Hour', 'Profit'],
      dtype='object')